html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

#map {
  position: relative;
  height: 100%;
  width: 100%;
}

.overlay {
  position: absolute;
  background: white;
  z-index: 1000;
  border: double;
  padding: 10px;
}

.info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.legend {
  text-align: left;
  line-height: 18px;
  color: #555;
  clear: both;
}

.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 1;
}

#selections {
  position: absolute; 
  top: 25px;
  right: 25px;
  z-index: 2000; 
  float: none; 
}

#title {
  position: absolute;
  top: 25px;
  left: 25px;
  transform: none;
  z-index: 2000; 
}
